.academic {
    background-color: transparent;
    margin: 0px;
    background-image: linear-gradient(to bottom right, rgb(202, 192, 183), rgb(146, 116, 88));
    padding: 35px
}

.lec {
    margin-left: 30px;
}
.jumboaca {
    margin-left: 350px;
    width: 800px;
    height: 400px;
    background-Image: linear-gradient(to bottom right, rgba(180, 99, 45, 0.83), rgb(182, 160, 142))
}


.acatype {
    margin-bottom: 20px;
}

.topic {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-left: 50px;
}

.acatype2 {
    width: 110px;
}