.cont {
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: oblique;
    margin: 0px;
}

.std {
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.past {
    background-image: linear-gradient(to bottom right, rgb(202, 192, 183), rgb(146, 116, 88));
    padding: 10px
}

.type {
    margin-bottom: 20px;
}

.type2 {
    width: 80px;
    margin-left: 100px;
}

.type3 {
    width: 110px;
}

.jumbo {
    margin-left: 100px;
    width: 800px;
    height: 400px;
    background-Image: linear-gradient(to bottom right, rgba(180, 99, 45, 0.83), rgb(182, 160, 142))
}

.topic {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
}