.firstname{
    color: blue;
}

.backgroundcl{
background-color: burlywood;

}
.profilecard{
    background-color: darkgoldenrod;
    width: 300px;;
    height:100px;
}

.profilecard2{
background-color: rgb(226, 225, 212);

}