.notification-icon {
    margin-top: 30px;
    margin-right: 12%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.downbar {
    height: 10%;
    width: 360px;
    margin-top: 30px;
    /* padding-right: 200px; */
    padding-left: 3px;
    /*  padding-bottom: 500px; */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.5s;
    overflow-x: hidden;
    border: 1px solid;
    border-color: white;
}

.icon {
    margin-top: 0px;
    margin-right: 0%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.bar {
    padding: 1px;
    background-color: rgb(0, 0, 0);
    width: 23rem;
}

.time-align {
    text-align: right;
    /*  margin-left: 160px; */
    margin-bottom: -3px;
    margin-top: -20px;
    font-size: 12px;
}

.notification-title {
    text-align: center;
    margin-left: 10px;
    font-weight: bolder;
    color: rgb(91, 91, 139);
}

.notification-removeicon {
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}

.without-notification {
    margin-left: 32%;
    margin-right: 20%;
    font-weight: bold;
}