.notification-icon {
    margin-top: 30px;
    margin-right: 12%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.downbar {
    height: 10%;
    width: 30%;
    margin-top: 40px;
    padding-right: 360px;
    padding-left: 2px;
    padding-bottom: 500px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(5, 5, 5, 0.8);
    transition: 0.5s;
    overflow-x: hidden;
}

.icon {
    margin-top: 0px;
    margin-right: 0%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.bar {
    padding: 1px;
    background-color: white;
    width: 23rem;
}