.myform {
    background-color: transparent;
    width: 500px;
    height: 789px;
    padding: 200px 50px 50px 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.backgrnd {
    background-image: url('LoginCover.jpg');
    background-size: cover;
    opacity: 0.9;
    height: 100%;
}

.App-logo {
    height: 25px;
}

.transbox {
    opacity: 0.9;
    background-color: white;
    width: 400px;
}

.field {
    background-color: black;
    width: 200px;
}

.signbutton {
    margin-left: 110px;
    border-radius: 20px;
    border-width: 3px;
    border-color: white;
}

.textfield {
    width: 300px;
    border-style: solid;
    border-width: 5px;
}

.h1 {
    margin-left: 110px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color: #166379
}