.center {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.topic-label {
    margin-right: 118px;
}

.url-label {
    margin-right: 30px;
}

.categorie-label {
    margin-right: 5px;
}

.topic-textbox {
    border-radius: 25px
}

.url-textbox {
    border-radius: 25px
}

.categorie-select {
    border-radius: 25px
}

.Button {
    height: 25px;
    width: 100px;
    text-size-adjust: 10px;
}

.button2 {
    margin-left: 20px;
    margin-top: 20px;
}

.jumb {
    margin-left: 20px;
    margin-right: 20px;
}

.link-topic-label {
    margin-right: 110px;
}

.link-url-label {
    margin-right: 85px;
}

.link-imgurl-label {
    margin-right: 30px;
}

.link-categorie-label {
    margin-right: 5px;
}

.link-topic-textbox {
    border-radius: 25px
}

.link-topic-textbox {
    border-radius: 25px
}

.link-imgurl-textbox {
    border-radius: 25px
}

.link-url-textbox {
    border-radius: 25px
}

.preview-content {
    margin-left: 20rem;
}